[Unit]
Description=SRS Log Cleanup Service
After=network.target

[Service]
Type=oneshot
ExecStart=/var/www/@rc-streamserver/srs/srs-server-6.0-b0/trunk/scripts/log-cleanup.sh
StandardOutput=journal
StandardError=journal
User=root

[Install]
WantedBy=multi-user.target


